# 대용량 파일 (Releases로 관리)
Sprite.NZspr.Pool

# 임시/로컬 파일
temp/
Screenshots/
*.obj
*.res
*.log
update.bat
Update_Sprite.bat
Test서버 접속기_admin.exe
Test서버 접속기_admin_test.exe
__pycache__/


# 개인용 빌드 도구
gen_manifest.py
